In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df= pd.read_csv(r'C:\Users\Armado\Documents\GitProjects\EDA_Proyecto\data\raw\timeforcasting.csv')
df

      User ID  Order Id  Product Id  Price                       Time
0        6365     10147      7575.0  175.0  2019-03-22T00:20:26+00:00
1           1     10148      7575.0  175.0  2019-03-22T00:20:26+00:00
2           0     10146      5633.0    4.5  2019-03-20T12:42:18+00:00
3        6290     10144      7574.0  175.0  2019-03-19T19:47:17+00:00
4           1     10145      5593.0    3.5  2019-03-19T19:47:17+00:00
...       ...       ...         ...    ...                        ...
1508        0      6067         NaN   20.0  2014-02-13T23:43:19+00:00
1509        0      6066         NaN   20.0  2014-02-13T21:04:30+00:00
1510        0      6065         NaN   20.0  2014-02-13T20:27:19+00:00
1511     5196      6064         NaN   20.0  2014-02-13T00:35:55+00:00
1512     5196      6064         NaN   20.0  2014-02-13T00:35:55+00:00

[1513 rows x 5 columns]

#Notas relativas al dataset:
Un User ID aparece multiples veces con diferentes Product ID con diferentes valores de Time,  esto sugiere que un usuario crea una orden de pedido, dento de la orden se recogen los diferentes productos. La parece estar asignada a la orden.